<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2>ジャンル編集</h2>
				<%= form_with model:@genre, url:admin_genre_path(@genre), local:true do |f| %>
				<%= f.label :ジャンル %>
				<%= f.text_field :name %>
				<%= f.radio_button :is_valid, :true, checked: true %>
				<%= f.label :is_valid, "有効", {value: :true, style: "display: inline-block;"} %>
				<%= f.radio_button :is_valid, :false %>
				<%= f.label :is_valid, "無効", {value: :false, style: "display: inline-block;"} %>
				<%= f.submit "変更を保存する", class:"btn btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
</div>