<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
			<h2>注文情報入力</h2>
				<%= form_with model:@neworder, url:public_orders_confirm_path, local:true do |f| %>

				<%= f.label :支払い方法 %><br>
				<%= f.radio_button :payment_method, :クレジットカード, checked: true %>
				<%= f.label :payment_method, "クレジットカード", {value: :クレジットカード, style: "display: inline-block;"} %><br>
				<%= f.radio_button :payment_method, :銀行振込 %>
				<%= f.label :payment_method, "銀行振込", {value: :銀行振込, style: "display: inline-block;"} %><br>
				<br>

				<%= f.label :お届け先 %><br>
				<%= radio_button_tag :order_address, 'my_address', checked: true %>
				<%= f.label :ご自身の住所 %><br>
				<p>
				  <%= current_customer.members_address %><br>
				</p>
				<br>

				<%= radio_button_tag :order_address, 'register_address' %>
				<%= f.label :登録住所から選択 %><br>
				<p>
				  <%= select_tag :selected_address, options_from_collection_for_select(@addresses, :id, :registration_address), {prompt: "お届け先住所を選択してください"} %><br>
				</p>
				<br>

				<%= radio_button_tag :order_address, 'new_address' %>
				<%= f.label :新しいお届け先 %><br>
				<%= f.label :郵便番号 %>
				<%= f.text_field :postalcode %><br>
				<%= f.label :住所 %>
				<%= f.text_field :address %><br>
				<%= f.label :宛名 %>
				<%= f.text_field :addressee %><br>

				<p>
					<%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
				</p>
				<% end %>
			</div>
			<div class="col-xs-1"></div>
		</div>
	</div>
</div>